<ul class="d-flex ai-center gap-2 | p-0 m-0 | fs-2 lh-3 | ls-none" style="width: calc(100% - 42px)">
    <li class="d-flex ai-center gap-2">
        <a  href="/"
            class="pos-relative | p-5 | fs-4 td-none | brad-4 bc-neutral-100 bwidth-1 bstyle-dashed bcolor-neutral-500 __hover-1 __soft-shadow"
            title="{{ libdocMessages.homepage[pageLang] }}">
            <span class="icon-house | pos-absolute top-50 left-50 t-tY-50 t-tX-50"></span>
        </a> /
    </li>
    <li class="o-auto">
        <ul class="d-flex ai-center gap-2 | p-0 m-0 | fs-2 lh-3 | ls-none">
            {% if breadcrumb.size > 0 %}
                {% for item in breadcrumb %}
                    <li class="d-flex ai-baseline gap-2">
                        <a  href="{{ item.url }}"
                            class="pt-2 pb-2 | fvs-wght-400 ws-nowrap">
                            {{ item.key }}
                        </a> /
                    </li>
                {% endfor %}
            {% endif %}
            {% if pageUrlSplit[1] == libdocConfig.blogSlug and pageUrlSplit[2].size > 0 %}
                <li class="d-flex ai-baseline gap-2">
                    <a  href="/{{ libdocConfig.blogSlug }}/"
                        class="pt-2 pb-2 | fvs-wght-400 ws-nowrap">
                        {{ libdocConfig.blogTitle }}
                    </a> /
                </li>
            {% endif %}
            {% if tag %}
                <li class="d-flex ai-baseline gap-2">
                    <a  href="/tags/"
                        class="fvs-wght-400 ws-nowrap">
                        {{ libdocMessages.tagsList[libdocConfig.lang] }}
                    </a> /
                </li>
            {% endif %}
            <li class="c-neutral-800 ws-nowrap">{{ pageTitle }}</li>
        </ul>
    </li>
</ul>